name: Main
on:
  - pull_request
jobs:
  job1:
    runs-on: ubuntu-latest
    name: build
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 23
        uses: actions/setup-java@v3
        with:
          java-version: '23'
          distribution: 'adopt'
      - name: Build and test
        working-directory: .
        run: |
          chmod +x ./gradlew
          export SHELL=/bin/bash
          ./gradlew build
      - name: Docker images
        working-directory: .
        run: |
          export SHELL=/bin/bash
          docker build -t prog_avancee .
          docker images
